.card {
    /* overflow: hidden; */
    border-radius: 8px;
    background-color: var(--color-white);
    position: relative;
}
.small {
    height: 280px;
    width: 198px;
}
.medium {
    height: 424px;
}
.large {
    width: 352px;
    height: 424px;
}
.absolute {
    position: absolute;
}
.popular-false {
    display: none;
}
.large .popular-true {
    position: absolute;
    height: 40px;
    left: -8px;
    top: 184px;
}

.card-img {
    height: 200px;
    border-radius: 8px 8px 0 0;
}
.small .card-img {
    height: 130px;
}
.large .card-img {
    width: 352px;
    height: 200px;
}

.card-text {
    margin: 24px 0 0 24px;
}
.small .card-text {
    margin: 16px 0 0 16px;
}
.large .card-text {
    margin: 32px 0 0 24px;
}
.card-price-month {
    display: flex;
    flex: row;
    align-items: center;
    width: 140px;
    flex-wrap: nowrap;
}
.card-price {
    color: var(--color-primary);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -1%;
    font-weight: bold;
    margin: 0;
}
.small .card-price {
    font-size: 16px;
}
.large .card-price {
    font-size: 24px;
}
.card-month {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: medium;
    opacity: 50%;
    color: var(--color-dark);
    margin: 0 0 0 2px;
    white-space: nowrap;
}
.large .card-month {
    font-size: 16px;
    line-height: 150%;
    margin-top: 4px;
}

.card-location-info {
    display: flex;
    flex-direction: column;
    margin: 4px 0 0 0;
    width: 280px;
    padding-bottom: 16px;
    border-bottom: 1.5px solid var(--color-taro);
}
.small .card-location-info {
    padding-bottom: 12px;
    width: 158px;
}
.large .card-location-info {
    padding-bottom: 16px;
    width: 304px;
}
.card-area-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -1%;
    margin: 0px;
}
.small .card-area-name {
    font-size: 16px;
    letter-spacing: 0%;
}
.card-location {
    margin: 8px 0 0 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: medium;
    opacity: 50%;
    color: var(--color-dark);
}
.small .card-location {
    font-size: 12px;
    line-height: 135%;
}

.card-stats {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.small .card-stats {
    margin-top: 12px;
}
.card-stat-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-stat-section + .card-stat-section {
    margin-left: 24px;
}
.large .card-stat-section + .card-stat-section {
    margin-left: 16px;
}
.small .card-stat-section + .card-stat-section {
    margin-left: 12px;
}
.card-icon {
    height: 20px;
    width: 20px;
}
.small .card-icon {
    height: 16px;
    width: 16px;
}
.card-number {
    margin: 0 0 0 8px;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-gray);
}
.small .card-number {
    font-size: 12px;
}