<div class="card {{cardSize()}} {{position()}}">
    <img src="popular.png" class="card-popular popular-{{isPopular()}}"/>
    <img src="{{imgUrl()}}" class="card-img"/>
    <!-- text -->
    <div class="card-text">
        <div class="card-price-month">
            <p class="card-price">${{price()}}</p>
            <p class="card-month">/month</p>
        </div>

        <div class="card-location-info">
            <p class="card-area-name">{{areaName()}}</p>
            <p class="card-location">{{location()}}</p>
        </div>
        <!-- numbers -->
        <div class="card-stats">
            <div class="card-stat-section">
                <img src="bed.png" class="card-icon"/>
                <p class="card-number">{{numRooms()}}</p>
            </div>
            <div class="card-stat-section">
                <img src="bath.png" class="card-icon"/>
                <p class="card-number">{{numBaths()}}</p>
            </div>
            <div class="card-stat-section">
                <img src="and_beyond.png" class="card-icon"/>
                <p class="card-number">{{size()}}m<sup>2</sup></p>
            </div>
        </div>
    </div>  
</div>
