<div class="hero">
    <!-- left side -->
    <div class="hero-left-side">
        <!-- main text -->
        <div class="hero-main-text">
            <p class="hero-title">Buy, rent, or sell your property easily</p>
            <p class="hero-slogan">A great platform to buy, sell, or even rent your properties without any commisions</p>
        </div>

        <!-- statistics -->
        <div class="hero-stats">
            <div class="hero-stats-section">
                <p class="hero-stats-number">50k+</p>
                <p class="hero-stats-slogan">renters</p>
            </div>

            <div class="hero-stats-section">
                <p class="hero-stats-number">10k+</p>
                <p class="hero-stats-slogan">properties</p>
            </div>
        </div>

        <!-- mini navbar and search for properties (not functional) -->
        <div class="hero-search">
            <!-- mini navbar -->
            <nav class="hero-navbar">
                <a class="hero-navbar-item">Rent</a>
                <a class="hero-navbar-item">Buy</a>
                <a class="hero-navbar-item">Sell</a>
            </nav>

            <!-- location, when, and browse properties button -->
            <!-- for now this is hardcoded text and not planned to be a functional component -->
            <div class="hero-search-bottom">
                <div class="hero-search-query">
                    <p class="hero-search-question">Location</p>
                    <p class="hero-search-answer">Barcelona, Spain</p>
                </div>
                <div class="hero-search-query">
                    <p class="hero-search-question">When</p>
                    <div class="hero-search-calendar">
                        <p class="hero-search-answer">Select Move-in Date</p>
                        <ng-icon name="matCalendarMonthRound" color="gray"/>
                    </div>
                </div>
                <p class="hero-search-location-text">Search location</p>
                <a class="hero-browse-button">
                    <p class="hero-browse-button-text">Browse Properties</p>
                    <ng-icon name="matSearchRound" color="white" size="20px" class="hero-search-icon"/>
                </a>
            </div>
        </div>
    </div>

    <!-- image -->
    <div class="hero-right-side">
        <div class="hero-gradient"></div>
        <img class="hero-background-img" src="map_with_icons.png"/>
        <app-card [cardSize]="cardSizeService.medium" class="hero-card"></app-card>
        <app-card 
            [cardSize]="cardSizeService.small" 
            [location]="'Palm Harbor, TX'" 
            [areaName]="'Tarpon Bay'"
            [price]="'1,600'"
            [size]="'6x8'"
            [imgUrl]="'tarpon_bay.png'"
            class="hero-card-small"
        ></app-card>
    </div>

    <div class="hero-background"></div>
</div>