<div class="hero">
    <!-- left side -->
    <div>
        <!-- main text -->
        <div>
            <p>Buy, rent, or sell your property easily</p>
            <p>A great platform to buy, sell, or even rent your properties without any commisions</p>
        </div>

        <!-- mini navbar and search for properties (not functional) -->
        <div>
            <!-- mini navbar -->
            <nav>
                <a>Rent</a>
                <a>Buy</a>
                <a>Sell</a>
            </nav>

            <!-- location, when, and browse properties button -->
            <!-- for now this is just text and not planned to be a functional component -->
            <div>
                <div>
                    <p>Location</p>
                    <p>Barcelona, Spain</p>
                </div>
                <div>
                    <p>When</p>
                    <p>Select Move-in Date</p>
                </div>
                <button>Browse Properties</button>
            </div>
        </div>

        <!-- statistics -->
        <div>
            <div>
                <p>50k+ renters</p>
                <p>believe in our service</p>
            </div>

            <div>
                <p>10k+ properties</p>
                <p>and house ready for occupancy</p>
            </div>
        </div>
    </div>

    <!-- image -->
    <div>
        <img src="map.png"/>
    </div>
</div>