<nav class="navbar">
    <!-- logo -->
    <a
        class="navbar-logo"
        ariaCurrentWhenActive="page" 
        routerLink="/"
        >
    <img class="navbar-logo-img" src="Logotype_dark.png" alt="Estatery logo"/></a>
    

    <!-- middle nav buttons -->
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/rent"
    >Rent</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/buy"
    >Buy</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/sell"
    >Sell</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/manage-property"
    >Manage Property</a>
    <ng-icon name="matKeyboardArrowDownRound" />
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/resources"
    >Resources</a>
    <ng-icon name="matKeyboardArrowDownRound" />

    <!-- login and signup -->
    <a 
        class="navbar-login" 
        ariaCurrentWhenActive="page" 
        routerLink="/login"
    >Login</a>
    <a 
        class="navbar-login" 
        ariaCurrentWhenActive="page" 
        routerLink="/signup"
    >Sign Up</a>
</nav>