<nav>
    <!-- logo -->

    <!-- middle nav buttons -->
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/rent"
    >Rent</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/buy"
    >Buy</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/sell"
    >Sell</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/manage-property"
    >Manage Property</a>
    <a 
        class="navbar-button" 
        routerLinkActive="navbar-active-button" 
        ariaCurrentWhenActive="page" 
        routerLink="/resources"
    >Resources</a>

    <!-- login and signup -->
    <a 
        class="navbar-login" 
        ariaCurrentWhenActive="page" 
        routerLink="/login"
    >Login</a>
    <a 
        class="navbar-login" 
        ariaCurrentWhenActive="page" 
        routerLink="/signup"
    >Sign Pp</a>
</nav>