<div class="benefits">
    <div class="benefits-box">
        <div class="benefits-left-side">
            <div class="benefits-text">
                <p class="benefits-title">The new way to find your new home</p>
                <p class="benefits-description">Find your dream place to live in with more than 10k+ properties listed</p>
            </div>

            <div class="benefits-statistics">
                <div class="benefits-stat-block">
                    <img src="percent_increase.png" class="benefits-icon"/>
                    <div class="benefits-stat-text">
                        <p class="benefits-number">7.4%</p>
                        <p class="benefits-stat-description">Property Return Rate</p>
                    </div>
                </div>

                <div class="benefits-stat-block">
                   <img src="number_of_properties.png" class="benefits-icon"/>
                   <div class="benefits-stat-text">
                        <p class="benefits-number">3,856</p>
                        <p class="benefits-stat-description">Properties in Sell & Rent</p>
                    </div>
                </div>

                <div class="benefits-stat-block">
                    <img src="transactions.png" class="benefits-icon"/>
                    <div class="benefits-stat-text">
                        <p class="benefits-number">2,540</p>
                        <p class="benefits-stat-description">Daily Completed Transactions</p>
                    </div>
                </div>
            </div>
        </div>

        <img src="vector_house.png" class="benefits-img"/>
    </div>
</div>