@import '../../styles.css';

.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 54px;
    justify-content: center;
}
.benefits-left-side {
    margin-left: 40px;
    position: relative;
    height: 648px;
}
.benefits-right-side {
    margin-left: 132px;
}

.benefits-vt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-light);
    border-radius: 8px;
    width: 416px;
    position: absolute;
    background-color: var(--color-white);
    left: 0px;
    top: 32px;
}
.benefits-vt-img {
    height: 64px;
    width: 64px;
    margin: 24px 0 24px 32px;
}
.benefits-vt-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 24px;
    margin-right: 56px;
}
.benefits-small-heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.5%;
    color: var(--color-primary-alt);
    margin: 0px;
}
.benefits-small-description {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--color-gray);
    margin: 2px 0 0 0;
}

.benefits-img {
    margin-left: 120px;
    width: 544px;
}

.benefits-bd {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-light);
    border-radius: 8px;
    width: 416px;
    position: absolute;
    bottom: 0px;
    right: 70px;
    background-color: var(--color-white);
}
.benefits-bd-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 24px 0 28px 32px;
}
.benefits-bd-img {
    width: 64px;
    height: 64px;
    margin-left: 37px;
    position: absolute;
    top: -32px;
    right: 32px;
}

.benefits-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #EFEFFB4D;
    height: 64px;
    border-radius: 8px;
    border: 2px solid #DEDEF7;
    box-sizing: border-box;
    max-width: 360px;
}
.benefits-toggle-button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    height: 48px;
}
.benefits-toggle-button + .benefits-toggle-button {
    margin-left: 32px;
}
.benefits-toggle-button:hover {
    cursor: pointer;
}
.toggled-on {
    background-color: var(--color-white);
    border: 2px solid #0E08540D;
}
.toggled-on .benefits-toggle-text {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin: 12px 28px;
}
.toggled-off .benefits-toggle-text {
    color: var(--color-gray);
    font-size: 18px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.benefits-text-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 32px 0;
    width: 444px;
}
.benefits-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -1%;
    margin: 0px;
}
.benefits-description {
    font-weight: medium;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    width: 406px;
    margin: 24px 0 0 0;
    color: var(--color-gray);
}

.benefits-see-more {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--color-primary);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
}
.benefits-see-more:hover {
    cursor: pointer;
}
.benefits-see-more-text {
    font-weight: bold;
    color: var(--color-white);
    line-height: 140%;
    letter-spacing: 0%;
    font-size: 16px;
}

@media (width < 1350px) {
    .benefits {
        flex-direction: column;
        margin-top: 48px;
        align-items: center;
        justify-content: center;
    }
    .benefits-left-side {
        margin: 0 24px;
        width: 544px;
    }
    .benefits-right-side {
        margin: 54px 15px 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .benefits-toggle {
        width: 327px;
    }
    .benefits-toggle-button + .benefits-toggle-button {
        margin-left: 16px;
    }

    .benefits-img {
        margin: 0px;
    }
    .benefits-vt {
        left: -8px;
    }
    .benefits-text-section {
        text-align: center;
        align-items: center;
    }
    .benefits-see-more {
        width: 327px;
    }
}

@media (width < 1000px) {
    .benefits-left-side {
        width: 327px;
        height: 460px;
        /* background-color: var(--color-light); */
        display: flex;
        justify-content: flex-end;
        border-radius: 8px;
    }
    .benefits-right-side {
        width: 375px;
        margin: 76px 24px 0 24px;
    }
    .benefits-img {
        width: 327px;
        object-fit: cover;
        border-radius: 8px;
    }

    .benefits-vt {
        width: 317px;
        height: 80px; 
    }
    .benefits-vt-text {
        margin: 16px 16px 24px 16px;
    }
    .benefits-vt-img { 
        width: 48px;
        height: 48px;
        margin: 16px 0 16px 24px;
    }
    .benefits-small-heading {
        font-size: 18px;
        line-height: 145%;
        letter-spacing: -0.5%;
    }
    .benefits-small-description {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
    }

    .benefits-bd {
        height: 80px;
        width: 282px;
        right: 24px;
        bottom: -28px;
    }
    .benefits-bd-img {
        width: 48px;
        height: 48px;
        top: -24px;
        right: 24px;
    }
    .benefits-bd-text {
        margin: 16px 42px 16px 24px;
    }
    
    
    .benefits-text-section {
        margin-top: 32px;
        width: 327px;
    }
    .benefits-title {
        font-size: 32px;
        line-height: 125%;
        letter-spacing: -1%;
    }
    .benefits-description {
        width: 327px;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
    }
}