<div class="benefits">
    <div class="benefits-left-side">
        <div class="benefits-vt">
            <img src="play_icon.png" class="benefits-vt-img"/>
            <div class="benefits-vt-text">
                <p class="benefits-small-heading">Virtual home tour</p>
                <p class="benefits-small-description">We provide you with virtual tour</p>
            </div>
        </div>

        <img src="benefits.png" class="benefits-img"/>

        <div class="benefits-bd">
            <div class="benefits-bd-text">
                <p class="benefits-small-heading">Find the best deal</p>
                <p class="benefits-small-description">Browse thousands of properties</p>
            </div>
            <img src="house_check_icon.png" class="benefits-bd-img"/>
        </div>
    </div>

    <div class="benefits-right-side">
        <div class="benefits-toggle">
            <div class="benefits-toggle-button toggled-on">
                <p class="benefits-toggle-text">For tenants</p>
            </div>
            <div class="benefits-toggle-button toggled-off">
                <p class="benefits-toggle-text">For landlords</p>
            </div>
        </div>
        
        <div class="benefits-text-section">
            <p class="benefits-title">We make it easy for tenants and landlords.</p>
            <p class="benefits-description">Whether it’s selling your current home, getting financing, or buying a new home, we make it easy  and efficient. The best part? You’ll save a bunch of money and time with our services.</p>
        </div>

        <a class="benefits-see-more">
            <p class="benefits-see-more-text">See more</p>
            <ng-icon name="matKeyboardArrowRightRound" size="20px" color="white"/>
        </a>
    </div>
</div>
