<div class="tenants-landlords">
    <div class="tenants-landlords-left-side">
        <div class="tenants-landlords-vt">
            <img src="play_icon.png" class="tenants-landlords-vt-img"/>
            <div class="tenants-landlords-vt-text">
                <p class="tenants-landlords-small-heading">Virtual home tour</p>
                <p class="tenants-landlords-small-description">We provide you with virtual tour</p>
            </div>
        </div>

        <img src="tenants-landlords.png" class="tenants-landlords-img"/>

        <div class="tenants-landlords-bd">
            <div class="tenants-landlords-bd-text">
                <p class="tenants-landlords-small-heading">Find the best deal</p>
                <p class="tenants-landlords-small-description">Browse thousands of properties</p>
            </div>
            <img src="house_check_icon.png" class="tenants-landlords-bd-img"/>
        </div>
    </div>

    <div class="tenants-landlords-right-side">
        <div class="tenants-landlords-toggle">
            <div class="tenants-landlords-toggle-button toggled-on">
                <p class="tenants-landlords-toggle-text">For tenants</p>
            </div>
            <div class="tenants-landlords-toggle-button toggled-off">
                <p class="tenants-landlords-toggle-text">For landlords</p>
            </div>
        </div>
        
        <div class="tenants-landlords-text-section">
            <p class="tenants-landlords-title">We make it easy for tenants and landlords.</p>
            <p class="tenants-landlords-description">Whether it’s selling your current home, getting financing, or buying a new home, we make it easy  and efficient. The best part? You’ll save a bunch of money and time with our services.</p>
        </div>

        <a class="tenants-landlords-see-more">
            <p class="tenants-landlords-see-more-text">See more</p>
            <ng-icon name="matKeyboardArrowRightRound" size="20px" color="white"/>
        </a>
    </div>
</div>
