<div class="cta">
    <p class="cta-promise">No Spam Promise</p>
    <p class="cta-question">Are you a landlord?</p>
    <p class="cta-discover">Discover ways to increase your home's value and  get listed. No Spam.</p>

    <div class="cta-email">
        <input type="email" placeholder="Enter your email address" class="cta-email-input">
        <div class="cta-submit-button">
            <p class="cta-submit-text">Submit</p>
        </div>
    </div>

    <p class="cta-join">Join <span>&nbsp;10,000+&nbsp;</span> other landlords in out Estatery community.</p>
</div>