<div class="testimonials">
    <p class="testimonials-title">Testimonials</p>
    <p class="testimonials-description">See what our property managers, landlords, and tenants have to say</p>
    <p class="testimonials-quote">“Estatery is the platform I go to on almost a daily basis for 2nd home and vacation condo shopping, or to just look at dream homes in new areas. Thanks for fun home shopping and comparative analyzing, Estatery!”</p>
    <div class="testimonials-quotee">
        <p class="testimonials-name">Mira Culos, </p>
        <p class="testimonials-renter">&nbsp;Renter</p>
    </div>

    <div class="testimonials-pictures">
        <div class="testimonials-rings">
            <img src="kate.png" class="kate"/>
        </div>
        <div class="testimonials-rings">
            <img src="zahir.png" class="testimonials-pfp">
        </div>
        <div class="testimonials-rings">
            <img src="orlando.png" class="testimonials-pfp"/>
        </div>  
    </div>
</div>