<div class="listings">
    <div class="listings-top">
        <div class="listings-text">
            <p class="listings-title">Based on your location</p>
            <p class="listings-description">Some of our picked properties near your location</p>
        </div>
        <div class="listings-button">
            <p>Browse more properties</p>
        </div>
    </div>

    <div class="listings-grid">
        <div class="listings-row">
            @for (card of cardsTop; track card) {
                <app-card 
                    [cardSize]="cardSize()"
                    [location]="card.location"
                    [areaName]="card.areaName"
                    [price]="card.price"
                    [size]="card.size"
                    [imgUrl]="card.imgUrl"
                    [numRooms]="card.numRooms"
                    [numBaths]="card.numBaths"
                    [isPopular]="card.isPopular"
                    class="listings-card"
                ></app-card>
            }
        </div>
        <div class="listings-row">
            @for (card of cardsBot; track card) {
                <app-card 
                    [cardSize]="cardSize()"
                    [location]="card.location"
                    [areaName]="card.areaName"
                    [price]="card.price"
                    [size]="card.size"
                    [imgUrl]="card.imgUrl"
                    [numRooms]="card.numRooms"
                    [numBaths]="card.numBaths"
                    [isPopular]="card.isPopular"
                    class="listings-card"
                ></app-card>
            }
        </div>
    </div>
</div>