<div class="listings">
    <div class="listings-top">
        <div class="listings-text">
            <p class="listings-title">Based on your location</p>
            <p class="listings-description">Some of our picked properties near your location</p>
        </div>
        <div class="listings-button">
            <p>Browse more properties</p>
        </div>
    </div>

    <div class="listings-grid">
        <div class="listings-row">

        </div>
        <div class="listings-row">

        </div>
    </div>
</div>