<div class="listings">
    <div class="listings-top">
        <div class="listings-text">
            <p class="listings-title">Based on your location</p>
            <p class="listings-description">Some of our picked properties near your location</p>
        </div>
        <div class="listings-button">
            <p>Browse more properties</p>
        </div>
    </div>

    <div class="listings-grid">
        <div class="listings-row">
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                [isPopular]="'true'"
                class="listings-card"
            ></app-card>
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                [isPopular]="'true'"
                class="listings-card"
            ></app-card>
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                [isPopular]="'true'"
                class="listings-card"
            ></app-card>
        </div>
        <div class="listings-row">
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                class="listings-card"
            ></app-card>
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                class="listings-card"
            ></app-card>
            <app-card 
                [cardSize]="cardSizeService.large" 
                [location]="'Palm Harbor, TX'" 
                [areaName]="'Tarpon Bay'"
                [price]="'1,600'"
                [size]="'6x8'"
                [imgUrl]="'tarpon_bay.png'"
                [numRooms]="'4 Beds'"
                [numBaths]="'2 Bathrooms'"
                class="listings-card"
            ></app-card>
        </div>
    </div>
</div>